<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="task">
            <h2><span>Task</span> {{task.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{task.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{task.description}}</span>
                </dd>
                <dt><span>Estimated Time</span></dt>
                <dd>
                    <span>{{task.estimatedTime}}</span>
                </dd>
                <dt><span>Activity</span></dt>
                <dd>
                    <div *ngIf="task.activity">
                        <a [routerLink]="['/activity', task.activity?.id, 'view']">{{task.activity?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task', task.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
